body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	outline: 0px;
	font-size: 16px;
	font-weight: 500;
	font-family: monospace;
}

.container {
	margin: 24px auto;
	width: 480px;
	display: grid;
	grid-template: auto / 1fr 1fr 1fr;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.btn {
	margin: 0px;
	border: 0px;
	border-radius: 2px;
	padding: 2px;
	outline: 0px;
	font-size: 2em;
	font-family: monospace;
	background: none;
	cursor: pointer;
	text-shadow: 2px 2px silver;
	&:hover {
		text-shadow: 3px 3px silver;
	}
}

.block {
	border: 2px solid aqua;
	border-radius: 4px;
	display: grid;
	grid-template: 40px 40px 40px / 120px 40px;
	gap: 4px;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 2px 0px teal;
}
.display {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	font-size: 1.8em;
	font-weight: 800;
}
.btnUp {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.btnDown {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}
.label {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 3 / 4;
	grid-column: 1 / 3;
	text-align: center;
	font-size: 1.4em;
	background-color: aqua;
}

#timer-label {
	font-weight: bolder;
	color: navy;
}

#break {
	justify-content: start;
}

#break-label {
	color: maroon;
}
#session {
	justify-content: end;
}
#session-label {
	color: green;
}
