body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	outline: 0px;
}

#calculator {
	margin: auto;
	padding: 8px 4px;
	max-width: 180px;
	display: grid;
	grid-template: 40px 40px 40px 40px 40px 40px / 40px 40px 40px 40px;
	justify-content: center;
	gap: 4px;
	font-family: monospace;
	letter-spacing: 1px;
	font-size: 18px;
	color: white;
	background: black;
}

#display {
	display: flex;
	align-items: center;
	justify-content: end;
	grid-row: 1 / 2;
	grid-column: 1 / 5;
	font-size: 1.4em;
	font-weight: 300;
}

.btn {
	margin: 0px;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	font-weight: 800;
	color: white;
	background-color: purple;
	box-shadow: 2px 2px 4px 0px gray;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: fuchsia;
	}
}

#clear {
	grid-column: 1 / 3;
	background-color: maroon;
	&:hover {
		background-color: red;
	}
}

#equals {
	grid-column: 3 / 5;
	background-color: navy;
	&:hover {
		background-color: blue;
	}
}

#zero {
	grid-column: 1 / 3;
}

#divide,
#multiply,
#subtract,
#add {
	background-color: gray;
	&:hover {
		background-color: silver;
	}
}
