body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	outline: 0px;
	font-family: monospace;
	font-size: 16px;
	font-weight: 500;
}

#survey-form {
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: grid;
	grid-template: auto / 96px 1fr;
}
