@keyframes alt-color {
	0%,
	100% {
		color: #e76f51;
	}
	50% {
		color: #2a9d8f;
	}
}
@keyframes alt-bg {
	0%,
	100% {
		background-image: url("../images/dino1.jpg");
	}
	50% {
		background-image: url("../images/dino2.jpg");
	}
}
body {
	margin: 0;
	padding: 0;
}
.wrap {
	min-width: 100vw;
	min-height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: linear-gradient(
		90deg,
		rgba(38, 70, 83, 0.8),
		rgba(38, 70, 83, 1)
	);
}
.h1 {
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
	animation: alt-color 2s step-end 0s infinite;
}
.img-wrap {
	position: relative;
	min-width: 300px;
	width: 60%;
	height: 300px;
	margin: auto;
	border: 8px solid white;
	background-size: 400px 100%;
	background-position: center;
	background-repeat: no-repeat;
	animation: alt-bg 2s step-end 0s infinite;
	box-shadow: 0px 4px 8px 2px rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
}
@media (max-width: 994px) {
	.img-wrap {
		height: 200px;
		background-size: 200px 100%;
	}
}
