body {
	margin: 0px;
	padding: 40px 0px 0px 0px;
	border: 0px;
	font-size: 24px;
	font-weight: 500;
	font-family: monospace;
	background: black;
	color: green;
}

a {
	color: olive;
}

#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 4px;
	background: silver;
}

#welcome-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#projects {
	margin: 0px;
	border: 0px;
	padding: 4px;
	list-style: none;
	color: black;
	background: white;
}

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
}
