{%- if nav_items and nav_items.size > 0 -%}
  <ol class="box-reset stack border rounded shade-light list-reset">
    <li class="p-1">
      <a href="/" rel="nofollow" class="shade-light font-monospace" aria-label="Home">⌂</a>
    </li>
    {%- for nav_item in nav_items -%}
      <li class="bs-1 p-1">
        {%- if forloop.last -%}
          <span class="shade-light">
            {{- nav_item.title -}}
          </span>
        {%- else -%}
          <a href="{{- nav_item.url -}}" class="shade-light">
            {{- nav_item.title -}}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ol>
{%- endif -%}
