{%- assign nav_exists = nav_item.prev or nav_item.next -%}
{%- if nav_exists -%}
  <ol class="box-reset list-reset stack">
    {%- if nav_item.prev -%}
      <li class="me-auto border rounded p-1 shade-light hover">
        <em>Previous</em>
        <div class="stack">
          <span class="link text-monospace">&nbsp;&laquo;&nbsp;</span>
          <a href="{{ nav_item.prev.url }}">
            {{ nav_item.prev.title }}
          </a>
        </div>
      </li>
    {%- endif -%}
    {%- if nav_item.next -%}
      <li class="ms-auto border rounded p-1 shade-light hover">
        <em>Next</em>
        <div class="stack">
          <a href="{{ nav_item.next.url }}">
            {{ nav_item.next.title }}
          </a>
          <span class="link text-monospace">&nbsp;&raquo;&nbsp;</span>
        </div>
      </li>
    {%- endif -%}
  </ol>
  <br/>
{%- endif -%}
