{% if nav_items and nav_items.size > 0 %}
  <ol class="box-reset list-reset">
    {% for nav_item in nav_items %}
      <li class="ps-{{ nav_item.level | at_most: 3  }} text-truncate">
        <a href="#{{ nav_item.id }}" rel="nofollow noindex" title="{{ nav_item.text }}">
          {{ nav_item.text }}
        </a>
      </li>
    {% endfor %}
  </ol>
{% endif %}
