body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#editor {
	padding: 16px 32px;
	flex: 1 1 0;
	font-family: monospace;
	letter-spacing: 1px;
	color: #00ff41;
	background: #292929;
	resize: none;
}

#preview {
	padding: 16px 32px;
	flex: 1 1 0;
	overflow: scroll;
}
