body {
  background-color: #1f8f6f;
  color: #666666;
  font-family: 'Quicksand', sans-serif;
}
section {
  max-width: 768px;
  margin: 24px auto;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
  margin: 8px 0px;
}
strong {
  font-size: 1.2rem;
}

a {
  color: #999999;
  text-decoration: none;
}
a:hover {
  color: #666666;
}

ul.list-nav {
  display: inline-flex;
}
ul.list-nav > li {
  padding: 4px;
}

ul.list-items {
  border: 1px solid #cccccc;
  border-radius: 4px;
}
ul.list-items > li {
  border-bottom: 1px solid #cccccc;
  padding: 16px;
  cursor: pointer;
}
ul.list-items > li:hover {
  background-color: #cccccc;
}
ul.list-items > li:last-of-type {
  border-bottom: none;
}

section.sec-details {
  display: flex;
}
section.sec-details img {
  margin-right: 48px;
  flex-shrink: 0;
}

a.btn-box {
  display: inline-block;
  margin: 8px 0px;
  border: 1px solid #1f8f6f;
  border-radius: 4px;
  padding: 8px;
  color: #1f8f6f;
}
a.btn-box:hover {
  background-color: #1f8f6f;
  color: #ffffff;
}

.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
.margin-heading {
  margin: 0px 0px 8px 0px;
}
.uppercase {
  text-transform: uppercase;
}

@media (max-width: 997px) {
  section.sec-details {
    display: block;
  }
  section.sec-details img {
    display: block;
    margin: 0px auto 16px auto;
  }
}
