* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', Roboto, 'Noto Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  line-height: 1.3;
  scroll-behavior: smooth;
}

a,
.link {
  color: var(--pc-link);
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}

pre,
code,
kbd,
samp,
.text-monospace {
  font-family: 'Courier New', Courier, Consolas, 'Lucida Console', 'Noto Mono',
    monospace;
}
pre {
  border: 1px solid var(--pc-border);
  padding: 8px 16px;
  color: var(--pc-link);
  background-color: var(--pc-secondary);
}

mark,
.text-cursive {
  font-family: 'Brush Script MT', 'Comic Sans MS', 'Comic Sans', cursive;
}
mark {
  color: inherit;
  background-color: inherit;
}

blockquote,
.text-fantasy {
  font-family: 'Impact', 'Blippo', 'Luminari', 'Trattatello', 'Stencil Std',
    'Marker Felt', fantasy;
}
blockquote {
  border-left: 4px solid var(--pc-border);
  padding-left: 2px;
}

summary {
  display: flex !important;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
}
details > summary::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin: 4px 8px;
  border-top: 4px solid transparent;
  border-left: 8px solid var(--pc-border);
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: 0.1s linear;
}
details[open] > summary::after {
  transform: rotate(90deg);
}

main {
  min-height: 100vh;
}

iframe {
  background-color: var(--pc-border);
  user-select: none;
}
iframe[data-loaded='true'] {
  background-color: transparent;
  user-select: auto;
}

#root-content :target {
  text-decoration: underline;
}
