:root {
  --pc-black: #000000;
  --pc-color: #212529;
  --pc-dark: #343a40;
  --pc-light: #e9ecef;
  --pc-bg: #f8f9fa;
  --pc-white: #ffffff;
  --pc-border: #6C757D;
  --pc-link: #198019;
  --pc-pre: #dd74dd;
}
:target {
  text-decoration: underline;
}

.shade-dark {
  background-color: var(--pc-dark);
  color: var(--pc-light);
}
.shade-light {
  background-color: var(--pc-light);
  color: var(--pc-color);
}
.shade {
  background-color: var(--pc-bg);
  color: var(--pc-color);
}

[data-theme-dark='1'].shade-dark,
[data-theme-dark='1'] .shade-dark {
  background-color: var(--pc-black);
  color: var(--pc-light);
}
[data-theme-dark='1'].shade-light,
[data-theme-dark='1'] .shade-light,
[data-theme-dark='1'].shade,
[data-theme-dark='1'] .shade {
  background-color: var(--pc-dark);
  color: var(--pc-light);
}

@media (prefers-color-scheme: dark) {
  .shade-dark {
    background-color: var(--pc-black);
    color: var(--pc-light);
  }
  .shade-light,
  .shade {
    background-color: var(--pc-dark);
    color: var(--pc-light);
  }

  [data-theme-dark='1'].shade-dark,
  [data-theme-dark='1'] .shade-dark {
    background-color: var(--pc-dark);
    color: var(--pc-light);
  }
  [data-theme-dark='1'].shade-light,
  [data-theme-dark='1'] .shade-light {
    background-color: var(--pc-light);
    color: var(--pc-color);
  }
  [data-theme-dark='1'].shade,
  [data-theme-dark='1'] .shade {
    background-color: var(--pc-bg);
    color: var(--pc-color);
  }
}

* {
  box-sizing: border-box;
}
/* *::selection {
} */

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  scroll-behavior: smooth;
}

a, .link {
  color: var(--pc-link);
  text-decoration: none;
}
a:hover, .link:hover {
  text-decoration: underline;
}

mark {
  background-color: var(--pc-link);
}
pre {
  color: var(--pc-pre);
}

summary {
  display: flex !important;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
}
details > summary::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin: 4px 8px;
  border-top: 4px solid transparent;
  border-left: 8px solid var(--pc-border);
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: 0.1s linear;
}
details[open] > summary::after {
  transform: rotate(90deg);
}

.box-reset {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
}
.list-reset {
  list-style: none;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

/* Utility classes */
.hover:hover {
  filter: invert(0.1);
}
.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.border {
  border: 1px solid var(--pc-border);
}
.bs-1 {
  border-left: 1px solid var(--pc-border);
}
.be-1 {
  border-right: 1px solid var(--pc-border);
}
.rounded {
  border-radius: 0.375rem;
}
.p-1 {
  padding: 0.25rem 0.5rem;
}
.p-2 {
  padding: 1rem 1.5rem;
}
.ps-1 {
  padding-left: 0.5rem;
}
.ps-2 {
  padding-left: 1rem;
}
.ps-3 {
  padding-left: 1.5rem;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-center {
  text-align: center;
}
.text-monospace {
  font-family: monospace;
}

/* Custom */
.header-anchor {
  font-size: max(0.6em, 16px);
}
#switch-theme + span {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
}
#switch-theme + span:after {
  content: '🌙';
  filter: sepia(1);
}
[data-theme-dark="1"] #switch-theme + span:after {
  content: '☀️'
}
@media (prefers-color-scheme: dark) {
  #switch-theme + span:after {
    content: '☀️';
  }
  [data-theme-dark="1"] #switch-theme + span:after {
    content: '🌙'
  }
}

/* Auxilary Media Queries */
@media screen and (max-width: 35.5em) {
  .d-sm-none {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  .d-md-none {
    display: none;
  }
}
@media screen and (max-width: 64em) {
  .d-lg-none {
    display: none;
  }
}
@media screen and (max-width: 80em) {
  .d-xl-none {
    display: none;
  }
}
@media screen and (max-width: 120em) {
  .d-xxl-none {
    display: none;
  }
}
@media screen and (max-width: 160em) {
  .d-xxxl-none {
    display: none;
  }
}
@media screen and (max-width: 240em) {
  .d-x4l-none {
    display: none;
  }
}
